parameters:
    level: 4
    paths:
        - src/
    ignoreErrors:
        - '#Call to an undefined method ReflectionType::getName#'
        - '#Laminas\\Di\\Resolver\\AbstractInjection is deprecated#'
